@charset "UTF-8";

#form3Example1cg{
	width: 48%;
}

#form3Example4cg{
	width: 48%;
}

.form-outline{
	justify-content: space-between;
}
.abcd{
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 100%;
  height: 100vh;
margin-left: 300px;
}